extends layout

block content
    h4= title
    .wrap
      .row
        each item,idx in movies
          .item.col-md-3
            .thumbnail
              span.paihang=(idx+1)
              a(href='/movie/#{item._id}')
                img( width=110 src='#{item.poster}',alt='#{item.title}')
              .caption
                span=item.title
                div
                  span  简介:#{item.summary}
                  //a.btn.btn-success(href='/movie/#{item._id}',role='button') 观看影片